################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/.vs/LGCDR_v1/v15
/Code/
/Code/.history/
