{{ define "main" }}
Youngjoo Kim, Alexandru C. Telea, Scott C. Trager, Jos B. T. M. Roerdink
<br/>
<br/>

<h1>About</h1>

<p>
Filtered dimensionality reduction (FDR) sharpens the original data before reducing the dimensions to create visually segregrated sample clusters, which is targeted for user-guided labeling.  <a href="about/">(more)</a>
</p>
<br/>

<h1>Experiments</h1>

<div class="posts-list">
{{ with .Site.GetPage "/experiments" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>    
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>All Results</h1>

<div class="image-grid">
{{ with .Site.GetPage "/results" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}